<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- Chemins des fichiers de données -->
    <paths>
        <path key="base_data">data/base_data.json</path>
        <path key="options">data/options.json</path>
        <path key="tasks">data/general_task_data_new.json</path>
        <path key="LPDC">data/LPDC.json</path>
        <path key="calculs">data/calculs.json</path>
        <path key="labo">data/labo.json</path>
    </paths>

    <!-- Configuration de l'interface utilisateur -->
    <ui>
        <!-- Thème de l'application (ex: Fusion, Windows, WindowsVista) -->
        <theme>Fusion</theme>
        <!-- Feuille de styles QSS -->
        <stylesheet>src/styles.qss</stylesheet>
        
        <window>
            <title>Chiffrage HET</title>
            <width>1080</width>
            <height>720</height>
        </window>

        <colors>
            <color key="background">#ecf0f1</color>
            <color key="text">#2c3e50</color>
            <color key="header">#34495e</color>
            <color key="highlight">#2980b9</color>
        </colors>
    </ui>
</config>
